<div class="container">
    <div class="projects-one">
        <h4>The House</h4>
        <p style="text-align:justify ;">
            We like to say that the house was built 40 years ago and not touched since. 
            The linoleum had an engrained foot path, the bathrooms were ravaged with wear and stains from our iron rich well water, 
            and the kitchen cabinets were raw plywood. The exterior was weathered and in dire need of paint. The inspection failed on
            nearly all aspects. "We'll take it" we said.
        </p>
        <div class="wrapingimageleft">
            <figure class="figure">
            <img src="/assets/projects/House/kitchen_demo3.jpg" height="400" width="400" alt="image">
            <figcaption class="figure-caption text-right">The kithchen during demo.</figcaption>
        </figure>
        </div>
        <h4>The Kitchen</h4>
        <p style="text-align:justify ;">
            The first step on the kitchen project was a complete tearout down to the studs and down to the base floor. We took out a wall
            and framed up new beams for support. We re-framed the window openings to accommodate new and wider windows. The electrical, 
            which is one of the inspection fails, all needed to be replaced. It was a situation where fixing what was there was not 
            an option - it all had to come out.
            <br> Tearing out the floors was one of the more difficult tasks because the flooring under the linoleum was particle board 
            nailed every two inches. Every pry with the crow bar bought us about a four inch square chunk coming out. 
            But what was underneath was a true 1 inch tongue and groove sub-floor that would be perfect for the new hardwoods we
            were planning to put in.<br>
            With the floor
        </p>
        <div class="wrapingimageright">
            <figure class="figure">
            <img src="/assets/projects/House/kitchen-subfloor.jpg" height="400" width="400" alt="image">
            <figcaption class="figure-caption text-right">That's a nice subfloor!.</figcaption>
        </figure>

    </div>
</div>
