<div class="container">
    <div class="row" style="background-color:white ;"></div>
    <div class="projects-one" style="background-color: rgb(203, 225, 203); margin-top: 30px;"><h4>The House</h4>
        <p style="text-align:justify ;">
            We like to say that the house was built 40 years ago and not touched since. 
            The linoleum had an engrained foot path, the bathrooms were ravaged with wear and stains from our iron rich well water, 
            and the kitchen cabinets were raw plywood. The exterior was weathered and in dire need of paint. Visitors would leave shaking their heads, either in pity or 
        </p>
        <div class="wrapingimageleft">
            <img src="/assets/projects/Farm/House/kitchen-demo3.jpg" height="400" width="400" alt="image">
            <p>The kitchen during demo.</p>
        </div>
    </div>
</div>
