.projects-one {
  padding-top: 80px;
  padding-bottom: 50px;
  padding-right: 30px; 
  padding-left: 30px;
  background-color: rgb(236, 240, 233); 
}

.wrapingimageright{  
  float: right;   
  margin: 6px 6px 6px 16px;     
 } 

.wrapingimageleft{  
  float: left;   
  margin: 6px 6px 6px 16px;     
 } 