<footer class="footer-area" style="background-image: url(assets/background/main-slider-1-1.jpg)">
    <div class="container">
        <div class="row text-light">
            <div class="col-sm">
                <h3 style="color:aliceblue;">Contact</h3>
                <i class="fas fa-map-marker-alt fa-2x mt-4"></i>
                <p>Apple Blosssom Farm</p>
                <p>41870 N.W. Lippert Lane</p>
                <p>Forest Grove, Oregon</p>
                <p>503-449-0882</p>
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>pchapman@easystreet.net</p>
               </div>

            <div class="col-sm">
                <h3 style="color:aliceblue;">Information</h3>
                <p><a class="contact-info-link" href="#services">Services</a></p>
                <p><a class="contact-info-link" href="#products">Products</a></p>
                <p><a class="contact-info-link" href="#review">Testimonials</a></p>
                <p><a class="contact-info-link" href="#events">Events</a></p>
            </div>

            <div class="col-sm">
                <h3 style="color:aliceblue;">Opening Hours</h3>
                <p class="opening-hours">Fri <span>24/7</span></p>
                <p class="opening-hours">Sun - Thu <span>8:00am - 11:30pm</span></p>
                <p class="opening-hours">Saturday <span>Closed</span></p>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright-text">
                    <p>Designed by AB Industries -2022</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-link">
                    <ul>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>