<footer class="footer-area" style="background-color: black;">
    <div class="container">
        <div class="row margin-bottom-30">
            <div class="col-lg-4 col-md-12">
                <div class="contact-box">
                    <h3 style="color:aliceblue;">Contact Info</h3>
                    <p><a href="#"><i class="icofont-google-map"></i>41879 N.W. Lippert Lane</a></p>
                    <p><a href="#"><i class="icofont-google-map"></i>Forest Grove, Oregon 97116</a></p>
                    <p><i class="icofont-phone"></i>503-449-0882</p>
                    <p><a class="contact-info-link" href="mailto:info@example.com"><i class="icofont-envelope"></i> info@example.com</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="contact-box">
                    <h3 style="color:aliceblue;">Information</h3>
                    <p class="opening-hours"><a class="contact-info-link" href="#services">Services</a></p>
                    <p class="opening-hours"><a class="contact-info-link" href="#products">Products</a></p>
                    <p class="opening-hours"><a class="contact-info-link" href="#review">Testimonials</a></p>
                    <p class="opening-hours"><a class="contact-info-link" href="#events">Events</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="contact-box">
                    <h3 style="color:aliceblue;">Opening Hours</h3>
                    <p class="opening-hours">Fri <span>24/7</span></p>
                    <p class="opening-hours">Sun - Thu <span>8:00am - 11:30pm</span></p>
                    <p class="opening-hours">Saturday <span>Closed</span></p>
                </div>
            </div>

            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright-text">
                    <p>Organica © 2022 - Designed by Thesoft.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-link">
                    <ul>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>