nav{
    background: #3f7857;
    background: -webkit-linear-gradient(59deg, #67A79F, #42716B);
    background: linear-gradient(59deg, #67A79F, #42716B);
    color: white;
  }

  .header-font a {
    color: #fff;
    font-size: 22px;
    transition-duration: 0.2s;
  }
  
  ul a:hover {
    color: #FA944B;
    text-decoration: none;
  }

.hidden-spacer {
  height: 56px;
	width: 25px;
}

.nav-font{
	font-size: 22px;
	color:antiquewhite;
}