.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
  }
  /**************************************
 * 03.Navber Area Style
 *************************************/
.header-navber-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  background: transparent;
}

.header-navber-area .nav-top-bar {
  background: transparent;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-navber-area .nav-top-bar .call-to-action p {
  margin: 0 13px 0 0;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
}

.header-navber-area .nav-top-bar .call-to-action p i {
  margin-right: 3px;
  font-size: 16px;
}

.header-navber-area .nav-top-bar .call-to-action p a {
  color: #ffffff;
}

.header-navber-area .nav-top-bar .call-to-action p a:hover, .header-navber-area .nav-top-bar .call-to-action p a:focus {
  color: #FFC107;
}

.header-navber-area .nav-top-bar .top-social {
  float: right;
  padding: 0;
  margin: 0 0 0 10px;
  list-style-type: none;
}

.header-navber-area .nav-top-bar .top-social li {
  display: inline-block;
}

.header-navber-area .nav-top-bar .top-social li a {
  color: #ffffff;
  font-size: 15px;
  margin-left: 5px;
}

.header-navber-area .nav-top-bar .top-social li a:hover, .header-navber-area .nav-top-bar .top-social li a:focus {
  color: #84b315;
}

.header-navber-area .nav-top-bar .opening-hours {
  float: right;
}

.header-navber-area .nav-top-bar .opening-hours p {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 0;
}

.header-navber-area .nav-top-bar .opening-hours p i {
  margin-right: 3px;
  font-size: 16px;
}

.header-navber-area .nav-top-bar.template-color-bg {
  background: #84b315;
  border-bottom: none;
}

.header-navber-area .nav-top-bar.template-color-bg .call-to-action p a {
  color: #ffffff;
}

.header-navber-area .nav-top-bar.template-color-bg .top-social li a {
  color: #ffffff;
}

.navbar-b {
	transition: all .5s ease-in-out;
	background-color: #ffffff;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 100px;
}
.navbar-b.navbar-reduce {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
	position: relative;
	padding-right: 0px;
	padding-left: 10px;
}
.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
	color: #000;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.5px;
	padding-right: 0;
    padding-left: 15px;
	font-family: 'Source Sans Pro', sans-serif;
}
.navbar-b.navbar-trans .book-now .nav-link, .navbar-b.navbar-reduce .book-now .nav-link{
	padding-left: 15px;
	color: #fff;
}
.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
	color: #1B1B1B;
}
.navbar-b.navbar-trans .nav-link:hover {
	color: #ccc;
}
.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
	color: #4a640b;
}
.navbar-b.navbar-reduce {
	transition: all .5s ease-in-out;
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-animation: 500ms ease-in-out 0s normal fadeInDown;
	animation: 500ms ease-in-out 0s normal fadeInDown;
	-webkit-transition: 0.6s;
	transition: 0.6s;
}
.navbar-b.navbar-reduce .nav-link {
	color: #505050;
}
.navbar-b.navbar-reduce .book-now .nav-link{
	color: #fff !important;
	padding-left: 15px;
}
.navbar-b.navbar-reduce .nav-link:hover {
	color: #505050;
}
.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
	color: #505050;
}
.navbar-b.navbar-reduce .navbar-brand {
	color: #333;
}
.navbar-b.navbar-reduce .navbar-toggler span {
	background-color: #1B1B1B;
}
.navbar-b .navbar-brand {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 500;
	z-index: 90;
}
.navbar-b .navbar-brand img {
	width: 50px;
	height: 50px;
}
.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	visibility: visible !important;
}
.navbar-b .dropdown-menu {
	margin: 0;
    border-radius: 0;
    border: 0;
    background: #f3f3f3;
	padding: 0;
}
.navbar-b .dropdown-menu .dropdown-item {
	padding: .7rem 1.7rem;
	transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item:hover {
	background-color: #84b315;
	color: #fff;
	transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item.active {
	background-color: #84b315;
}
.navbar-toggler {
	position: absolute;
    right: 0px;
    top: 15px;
}
.navbar-toggler:focus,
.navbar-toggler:active {
	outline: 0;
}
#navbarDefault{
	/*eight: auto !important;
	overflow-y:hidden !important;*/
}
.navbar-toggler span {
	display: block;
    background-color: #84b315;
    height: 3px;
    width: 25px;
    margin-top: 8px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	transition: -webkit-transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}
.navbar-b .black-logo {
	display: none;
}
.navbar-b.navbar-reduce .navbar-brand .white-logo {  
  background: #84b315;
  width: 50;
  height: 50;
	display:block;
}
.navbar-b.navbar-reduce .navbar-brand .black-logo {
	display: block;
}
.book-now a{
	background: #91a557;
    border-radius: 30px;
	padding-right: 15px !important;
}
.book-now a:hover{
	background: #d2f187;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.fix{
	width: 100%;
    position:fixed;
    bottom:0px;
    left:50%;
}

.fix2{
	background: url(/assets/shapes/ripped-paper-shite.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
}

.main-menu::after {
	content: "";
	width: 100%;
	height: 16px;
	position: absolute;
	bottom: -15px;
	left: 0;
	background-image: url(/assets/shapes/ripped-paper-white.png);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background-position: center center;
	background-size: auto;
  }

  .main-menu,
  .stricky-header {
	/* after third level no menu */
  }
  
  .main-menu .main-menu__list,
  .main-menu .main-menu__list ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	display: none;
  }
