<header class="header-navber-area">
    <nav class="navbar navbar-b navbar-trans navbar-expand-lg" id="mainNav" style="background-color: rgb(255, 255, 255);">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="assets/logos/logo-spade.png" class="white-logo" alt="logo" width="50" height="50">
                    <img src="assets/logos/logo-dark.png" class="white-logo" alt="logo" width="50" height="50">
                </li>
                <span>
                    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                        <li class="list-inline-item">
                            <a routerLink="/app-main" routerLinkActive="active-link"
                                class="nav-item nav-link active">Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/our-farm" routerLinkActive="active" class="nav-item nav-link active">Our
                                Farm</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/animals" routerLinkActive="active"
                                class="nav-item nav-link active">Animals</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/projects" routerLinkActive="active"
                                class="nav-item nav-link active">Projects</a>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/glamping" routerLinkActive="active" class="nav-item nav-link active">Farm
                                Stay</a>
                        </li>
                        <li class="list-inline-item">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-item nav-link active dropdown-toggle"
                                    data-bs-toggle="dropdown">Merchandise</a>
                                <div class="dropdown-menu">
                                    <app-category-menu></app-category-menu>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a routerLink="/order-lamb" routerLinkActive="active" class="nav-item nav-link active">Order
                                Lamb</a>
                        </li>
                    </div>
                </span>

            </ul>
            <div class="float-right">
                <app-cart-status></app-cart-status>
            </div>
        </div>
        <div class="main-menu">

        </div>
    </nav>
</header>