nav{
    background: #304a5c;
    background: -webkit-linear-gradient(59deg, #557b8f, #30556d);
    background: linear-gradient(59deg, #557b8f, #30556d);
    color: white;
  }

.hidden-spacer {
    height: 56px;
	width: 25px;
}

.nav-font{
	font-size: 22px;
	color:antiquewhite;
}