    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/logos/logo-dark.png" class="white-logo" alt="logo" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center header-font" id="navbar1">
            <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="/app-main" routerLinkActive="active" class="nav-link">Home</a>
                        </li>
                        <div class="sticky-top hidden-spacer"> </div>
                        <li class="nav-item">
                            <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">Our Farm</a>
                        </li>
                        <div class="sticky-top hidden-spacer"> </div>
                        <li class="nav-item">
                            <a routerLink="/animals" routerLinkActive="active"
                                class="nav-link">Animals</a>
                        </li>
                        <div class="sticky-top hidden-spacer"> </div>
                        <li class="nav-item">
                            <a routerLink="/projects" routerLinkActive="active"
                                class="nav-link">Projects</a>
                        </li>
                        <div class="sticky-top hidden-spacer"> </div>
                        <li class="nav-item">
                            <a routerLink="/glamping" routerLinkActive="active" class="nav-link">Farm
                                Stay</a>
                        </li>
                        <div class="sticky-top hidden-spacer"> </div>
                        <li class="nav-item">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link"
                                    data-bs-toggle="dropdown">Merchandise</a>
                                <div class="dropdown-menu">
                                    <app-category-menu></app-category-menu>
                                </div>
                            </div>
                        </li>
                        <div class="sticky-top hidden-spacer"> </div>
                        <li class="nav-item">
                            <a routerLink="/order-lamb" routerLinkActive="active" class="nav-link">Order
                                Lamb</a>
                        </li>
            </ul>
        </div>
            <div class="float-right">
                <app-cart-status></app-cart-status>
            </div>
        </div>
        <!-- <div class="main-menu">

        </div> -->
    </nav>