<div class="merch-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempProduct of products" class="col-md-4">
                    <div class="product-box">                        
                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{tempProduct.imageUrl}}" class="image-responsive"
                                style="height:60px; width:60px;" />
                        </a><br>
                        <a routerLink="/products/{{tempProduct.id}}">
                            <h1>{{ tempProduct.name}}</h1>
                        </a>
                        <h2>{{ tempProduct.unitPrice | currency:'USD'}}</h2>
                        <button (click)= "addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to Cart!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>