input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.fa-stack {
   text-align: center;
 }
 
 .fa-stack .fa-caret-down {
   position: absolute;
   bottom: 0;
 }
 
 .fa-stack .fa-caret-up {
   position: absolute;
   top: 0;
 }