.background-farm{
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    min-width: 100%;
  }
  .container-main{
    min-width: 100%;
    min-height: 100%;
  }

 /* trim this down*/
  #wsb-element-00000000-0000-0000-0000-000138672261 {
    top: 13px;
    left: 16px;
    position: absolute;
    z-index: 93
}

#wsb-element-00000000-0000-0000-0000-000138672261 .wsb-image-inner {
    border: solid 6px #6e6e6e;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 0px;
    background: #666
}

#wsb-element-00000000-0000-0000-0000-000138672261 .wsb-image-inner div {
    width: 211px;
    height: 174.23px;
    position: relative;
    overflow: hidden
}

#wsb-element-00000000-0000-0000-0000-000138672261 img {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

#wsb-element-00000000-0000-0000-0000-000138477033 {
    top: 22px;
    left: 54px;
    position: absolute;
    z-index: 14
}

#wsb-element-00000000-0000-0000-0000-000138477033 .wsb-shape {
    width: 936px;
    height: 80px;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-00000000-0000-0000-0000-000138477032 {
    top: 50px;
    left: 100px;
    position: absolute;
    z-index: 92
}

#wsb-element-00000000-0000-0000-0000-000138477032 .wsb-image-inner div {
    width: 98px;
    height: 35px;
    position: relative;
    overflow: hidden
}

#wsb-element-00000000-0000-0000-0000-000138477032 img {
    position: absolute
}

#wsb-element-00000000-0000-0000-0000-000138476991 {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9
}

#wsb-element-00000000-0000-0000-0000-000138476991 .wsb-shape {
    width: 1036px;
    height: 207px;
    padding: 0px;
    background: #7f0000;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

#wsb-element-00000000-0000-0000-0000-000138476985 {
    top: 55px;
    left: 650px;
    position: absolute;
    z-index: 46
}

#wsb-element-00000000-0000-0000-0000-000138476985 .txt {
    width: 300px;
    height: 34px
}

#wsb-element-00000000-0000-0000-0000-000138476984 {
    top: 0px;
    left: 50px;
    position: absolute;
    z-index: 45
}

#wsb-element-00000000-0000-0000-0000-000138476984 .wsb-line-element {
    width: 950px;
    height: 20px
}

#wsb-element-e02729ec-64fd-4b9a-be95-4ae1ce9bc7f6 {
    top: 1393px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-e02729ec-64fd-4b9a-be95-4ae1ce9bc7f6>div.form-row {
    width: 464px;
    height: 124px
}

#wsb-element-de069ef2-907a-420a-9d45-6b1505950224 {
    top: 881px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-de069ef2-907a-420a-9d45-6b1505950224>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-d9ea1c53-33d2-4d05-9910-f784e3ff57ca {
    top: 1613px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-d9ea1c53-33d2-4d05-9910-f784e3ff57ca>div.form-row {
    width: 464px;
    height: 43px
}

#wsb-element-d674b1b7-1058-4f5e-b84a-74e0ef48dc66 {
    top: 224px;
    left: 227px;
    position: absolute;
    z-index: 119
}

#wsb-element-d674b1b7-1058-4f5e-b84a-74e0ef48dc66 .txt {
    width: 624px;
    height: 112px
}

#wsb-element-ca4e2aa0-66a2-4738-935c-691e40caa9e0 {
    top: 590px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-ca4e2aa0-66a2-4738-935c-691e40caa9e0>div.form-row {
    width: 464px;
    height: 62px
}

#wsb-element-c77d2521-4941-4814-a5bb-416134663c2f {
    top: 1151px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-c77d2521-4941-4814-a5bb-416134663c2f>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-c4380039-95a3-4905-a540-326b1decb5fa {
    top: 1107px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-c4380039-95a3-4905-a540-326b1decb5fa>div.form-row {
    width: 464px;
    height: 39px
}

#wsb-element-c21d29b1-aa4e-4062-a15c-cecc1714c637 {
    top: 1662px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-c21d29b1-aa4e-4062-a15c-cecc1714c637>div.form-row {
    width: 464px;
    height: 236px
}

#wsb-element-b8a0aa0c-6e77-46de-929a-adbe9aec0161 {
    top: 1264px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-b8a0aa0c-6e77-46de-929a-adbe9aec0161>div.form-row {
    width: 464px;
    height: 124px
}

#wsb-element-aecfe57a-9503-4682-a905-ab3ae02f0adb {
    top: 1522px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-aecfe57a-9503-4682-a905-ab3ae02f0adb>div.form-row {
    width: 464px;
    height: 40px
}

#wsb-element-aeb1eb26-2c05-4357-85ba-f7b65f3ea263 {
    top: 523px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-aeb1eb26-2c05-4357-85ba-f7b65f3ea263>div.form-row {
    width: 464px;
    height: 62px
}

#wsb-element-acf47e0e-7627-4276-b83e-2c95c31a1d46 {
    top: 1903px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-acf47e0e-7627-4276-b83e-2c95c31a1d46>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-a98cd02f-c55e-41c1-9cee-8848c316e35b {
    top: 2115px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-a98cd02f-c55e-41c1-9cee-8848c316e35b>div.form-row {
    width: 464px;
    height: 122px
}

#wsb-element-a6020d3f-c64f-47b4-93e9-1afb25ca71fc {
    top: 769px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-a6020d3f-c64f-47b4-93e9-1afb25ca71fc>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-9c109f55-a2e3-475f-a4fc-ad7724394dc3 {
    top: 927px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-9c109f55-a2e3-475f-a4fc-ad7724394dc3>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-9092cdd0-62f8-4fdd-81eb-6c34678c26cd {
    top: 473px;
    left: 120px;
    position: absolute;
    z-index: 142
}

#wsb-element-9092cdd0-62f8-4fdd-81eb-6c34678c26cd .txt {
    width: 182px;
    height: 67px
}

#wsb-element-90707713-afe4-4ba6-8c36-6e5600f974a0 {
    top: 656px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-90707713-afe4-4ba6-8c36-6e5600f974a0>div.form-row {
    width: 464px;
    height: 62px
}

#wsb-element-8aefa2b2-2f30-429c-ba10-1c3deaaabdda {
    top: 1063px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-8aefa2b2-2f30-429c-ba10-1c3deaaabdda>div.form-row {
    width: 464px;
    height: 39px
}

#wsb-element-7cf5bc23-84ae-4ce3-abae-b0e21e62a2b3 {
    top: 456px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-7cf5bc23-84ae-4ce3-abae-b0e21e62a2b3>div.form-row {
    width: 464px;
    height: 62px
}

#wsb-element-6da7d9cd-e609-4a12-840b-88e508fcd982 {
    top: 1197px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-6da7d9cd-e609-4a12-840b-88e508fcd982>div.form-row {
    width: 464px;
    height: 62px
}

#wsb-element-6cd2db55-5487-4da1-a47e-8e6af65ba5fa {
    top: 1018px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-6cd2db55-5487-4da1-a47e-8e6af65ba5fa>div.form-row {
    width: 464px;
    height: 39px
}

#wsb-element-61dccf3f-c993-4d23-b4fb-d7f28b5a1179 {
    top: 814px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-61dccf3f-c993-4d23-b4fb-d7f28b5a1179>div.form-row {
    width: 464px;
    height: 62px
}

#wsb-element-5760ba8e-533a-4fac-ba2e-fcc798a2e244 {
    top: 1948px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-5760ba8e-533a-4fac-ba2e-fcc798a2e244>div.form-row {
    width: 464px;
    height: 162px
}

#wsb-element-3d9bb59a-2142-4385-b642-6516d8fd90f1 {
    top: 347px;
    left: 419px;
    position: absolute;
    z-index: 124
}

#wsb-element-3d9bb59a-2142-4385-b642-6516d8fd90f1 .txt {
    width: 266px;
    height: 98px
}

#wsb-element-3807086b-fdba-485a-af98-bf2aac5a0095 {
    top: 1567px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-3807086b-fdba-485a-af98-bf2aac5a0095>div.form-row {
    width: 464px;
    height: 40px
}

#wsb-element-338e7a68-c2c9-4bfe-aea7-385329c32bac {
    top: 2244px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-338e7a68-c2c9-4bfe-aea7-385329c32bac>div.form-row {
    width: 464px;
    height: 71px
}

#wsb-element-20d8a36d-d89d-41e8-bae5-3ceaaa0d1417 {
    top: 973px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-20d8a36d-d89d-41e8-bae5-3ceaaa0d1417>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-19c15427-aba0-49b4-809f-7af7bc40ccd5 {
    top: 723px;
    left: 341px;
    position: absolute;
    z-index: 157
}

#wsb-element-19c15427-aba0-49b4-809f-7af7bc40ccd5>div.form-row {
    width: 464px;
    height: 41px
}

#wsb-element-0172b485-60af-45a6-80f2-8031a2f6ed03 {
    top: 566px;
    left: 133px;
    position: absolute;
    z-index: 147
}

#wsb-element-0172b485-60af-45a6-80f2-8031a2f6ed03 .txt {
    width: 156px;
    height: 134px
}

#wsb-element-00000000-0000-0000-0000-000138476953 {
    top: 22px;
    left: 254px;
    position: absolute;
    z-index: 15
}

#wsb-element-00000000-0000-0000-0000-000138476953 {
    width: 771px;
    height: 155px
}