<div class="projects-one" style="background-color: rgb(236, 240, 233);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/images/BarnFromHouse.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Farm Projects</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/house/benjaminroom.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>House Projects</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/farm/FeedingTrough.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Field Projects</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-4.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Soil Conservation</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-5.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Field Rotation</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-6.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Garden Management</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.projects-one -->