<div class="container">
    <div class="projects-one">
        <p style="text-align:justify ;">Running a small farm takes constant upkeep - everything from feeding the
            animals, cleaning stalls and maintaining our pastures.
            But we tend to go beyond general upkeep, as our farm was in need of many major improvements!<br><br>
            Over the years, thousands of feet of new fencing has been installed to keep our animals in, as well cross
            fencing to support our rotational grazing program. Our barn got a new roof and new stain (click on the Farm
            Projects page
            to learn about this traditional
            stain from Sweden). The barn is now providing a warm and dry environment for lambing. More recently, a new
            barn
            addition will add 750 square feet of lambing space and storage. Click on the sections below follow our
            journey of converting
            our once neglected farm into a productive sheep and produce operation, not to mention that our farm is now
            downright beautiful!
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <a routerLink="/app-farm-projects" routerLinkActive="active" class="nav-link">
                        <h4 style="z-index:1; color: rgb(50, 101, 146);">Farm Projects
                        </h4><img src="assets/projects/Farm/Barn/BarnFromHouse.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <a routerLink="/app-house-projects" routerLinkActive="active" class="nav-link">
                        <h4 style="z-index:1; color: rgb(50, 101, 146);">House Projects</h4>
                        <img src="assets/projects/House/benjaminroom.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <a routerLink="/app-field-projects" routerLinkActive="active" class="nav-link">
                        <h4 style="z-index:1; color: rgb(50, 101, 146);">Field Projects</h4>
                        <img src="assets/farm/FeedingTrough.jpg" alt="">
                    </a>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.projects-one -->