<div class="container">
    <div class="row" style="background-color:white ;"></div>
    <div class="projects-one" style="background-color: rgb(203, 225, 203); margin-top: 30px;">
        <div class="wrapingimageright">
            <img src="/assets/animals/sheep3.jpg" height="400" width="400" alt="image">
        </div>
        <p style="text-align:justify ;">Our sheep are a cross between the Hampshire and Suffolk breeds.<br>
            The Hampshires originated in the county of Hampshire in south England.
            The Hampshire sheep breed is primarily raised for meat production, though the breed has also emerged as a
            popular
            choice for kids in 4-H and FFA rings due to its impressive appearance in the show ring.

            Hampshire lambs are fast-growing and at maturity the Hampshire breed is heavy boned with a lean carcass.
            As one of the larger breeds, the Hampshire is easy to distinguish from Suffolks by their black legs and
            faces.

            Hampshire sheep grow rapidly and are a common choice as terminal sires in crossbreeding programs due to
            their large,
            lean carcasses and rapid growth rate.<br><br>
            The Suffok breed was introduced to the U.S. from England in 1888. Suffolk sheep are the largest breed found in the 
            United States, and are known for their rapid growth rate, which accounts for their heavy muscling and superior lean meat. 
            The average weight of our cross-bred ewes is about 250 pounds.<br>
            
        </p>
            <div class="wrapingimageleft">
                <img src="/assets/animals/sheep2.jpg" height="400" width="400" alt="image">
            </div>
            <p style="text-align:justify ;">
            All our sheep are grass fed off of grasses from our pasture, and supplemented with local hay in the winter months.<br>
            We attained them from a 4-H student who was getting ready to graduate and needed to lessen his flock.
            We work to balance the genetics of our lambs by selecting high level rams, and may look to artificial insemination in order to 
            keep our flock healthy and true to their heritage.
            </p>
        
    </div>
</div>