<div class="container">
    <div class="row">
        <h1 class="text-md-left">Spring</h1>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Spring/AnimalsInField.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Spring/SpringLambs.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Spring/LambInJug.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="assets/seasons/Spring/Flowers.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="assets/seasons/Spring/ElsieBarbBruce.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Spring/GardenSprouts.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/S" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/S" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/S" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row">
                <h1 class="text-md-left">Summer</h1>
                <div class="col-md-4 mt-3 col-lg-4">
                    <img src="assets/seasons/Summer/FamilyonFence.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-4">
                    <img src="assets/seasons/Summer/SheepFeeding.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-4">
                    <img src="assets/seasons/Summer/AnniversaryParty.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-6">
                    <img src="assets/seasons/Summer/Produce.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-6">
                    <img src="assets/seasons/Summer/GrassHarvest.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <img src="assets/seasons/Summer/LynnBlaze.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <img src="assets/seasons/Summer/MtHoodSunrise.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <img src="assets/seasons/Summer/AnimalsInField.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col-md-4 mt-3 col-lg-3">
                    <img src="assets/seasons/Summer/TinaHarness.jpg" class="img-fluid" alt="image">
                </div>
    </div>
    <div class="row">
        <h1 class="text-md-left">Fall</h1>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Fall/burnpile.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Fall/FallFeeder.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Fall/HayElevator.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="/assets/seasons/Fall/TractorAndTree.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="assets/seasons/Fall/Garden.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Fall/LynnRidingBlaze.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Fall/TDayInBarn.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Fall/" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Fall/FallHay.jpg" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row">
        <h1 class="text-md-left">Winter</h1>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Winter/LynnInCold.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Winter/BarnInSnow.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/seasons/Winter/MaggieByFire.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="/assets/seasons/BarnInSnow.jpg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="assets/seasons/Winter/" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Winter/" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Winter/" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Winter/" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/seasons/Winter/" class="img-fluid" alt="image">
        </div>
    </div>
</div>