<div class="container">
    <div class="projects-one" style="background-color: seagreen;">
        <div class="container">
            <img src="assets/glamping/woods.jpg"/>
        </div>
        <div>
            <br>
            <p style="text-align:justify; color:aliceblue; margin: 10px;">
                As with many initiatives on our farm, our plans to open a camping area is still in the works.
                Our hope is to be able to invite guests to stay overnight on our farm in a wooded area (that was once
                covered in blackberries!).
                We would like to offer our guests a retreat from city life, or a stopover for bikers, or for anyone
                looking for a quick
                getaway to the country.
                We are close to the Banks-Vernonia trail for hiking or biking.<br>
                Guests are also welcome to take part in farm activities including feeding the animals or any of our farm
                chores.
            </p>
        </div>
    </div>
</div>