<div class="projects-one" style="background-image: url(assets/background/main-slider-1-1.jpg)">
    <div class="container">
        <img src="assets/glamping/farmstay.jpg" class="background-farm" />
    </div>
    <div>
        <br>
        <p style="white-space:pre-wrap; color:aliceblue">
            We invite guests to stay overnight on our farm, on a plank in the woods. We offer a retreat from city life
            in the quiet country (except for moto-racing on Saturdays).<br>
            We are close to the Banks-Vernonia trail for hiking or biking.<br>
            Activities include feedings, egg collection, and any of our farm chores that interest you; however,
            participation is always optional!

            <br>DAY OR WEEK RETREATS
            Stay just for the day or don't come at all; call 503-449-0882 to discuss requirements and details.
        </p>
    </div>
</div>