    <div class="container">
        <h1 class="text-md-left">Welcome to Apple Blossom Farm! </h1>
        <div class="wrapingimage">   
            <img src="/assets/aboutus/LynnTilling.jpg" height="400" width="400"  
            alt="image">    
            </div>   
            <p style="text-align:justify ;">   
                Both Lynn and Peter grew up in Portland, Oregon. We have always dreamed of moving to the country, but once we had the ability to do so, we had become rooted in our Portland lives. We were establishing our careers, we had links to our community, and most importantly, we did not want to uproot our two boys in the middle of their school years. We decided to hold off on our dream until both boys graduated high school.
                As fate would have it, we were contacted by one of the realtors we had worked with in the past about a farm that was about to come on the market. This happened two months before our youngest son was to graduate from high school. The timing was perfect. We met the realtor at the property only to discover that the property had not been maintained for many years - more like decades. Our realtor actually apologized for the state of the house and property, but Lynn and I looked at each other and said "This is perfect!". We closed just weeks after our son's graduation, and thus we began our new life adventure.
                <span class="btn btn-outline-dark" data-toggle="collapse" href="#moreInfo">More</span>
            </p>
            <p class="collapse w-100" id="moreInfo" style="text-align:justify;">
                Fast forward three years, plus the pandemic which kept us home and working on the farm, we now have a small flock of Suffolk/Hampshire cross sheep, three Nubian goats, and a llama, Tina, (she guards our sheep). Please visit our <a routerLink="/animals" routerLinkActive="active">Animals</a> page for more about our animals. We have successfully raised and processed three seasons of lambs, fed solely on grazing in on our pasture, with supplemental hay and alfalfa during the winter months. The lamb meat is sweet, tender, and lean! 
                    <br>We have also been working with the Tualatin Valley Water District on improving the farm for responsible water use and pasture management. With help from a grant, we have installed additional fencing for rotational grazing, installed gutters along the barn to keep the mud to a minimum, and are in the process of building compost bins to recycle the sheep manure for use in our garden. This has been a positive and worthwhile partnership! 
                    We welcome any visitors to our farm, we are proud to show it off! By the way, we have eight apple trees that have the most beautiful blooms in the spring, thus our name!
            </p>
    </div>
            
<!--<div>
    <div class="container">
        <h1 class="text-md-left">Welcome to Apple Blossom Farm! </h1>
        <div class="row">
            <div class="w-50" style="text-align:justify;">
                Both Lynn and Peter grew up in Portland, Oregon. We have always dreamed of moving to the country, but once we had the ability to do so, we had become rooted in our Portland lives. We were establishing our careers, we had links to our community, and most importantly, we did not want to uproot our two boys in the middle of their school years. We decided to hold off on our dream until both boys graduated high school.
                As fate would have it, we were contacted by one of the realtors we had worked with in the past about a farm that was about to come on the market. This happened two months before our youngest son was to graduate from high school. The timing was perfect. We met the realtor at the property only to discover that the property had not been maintianed for many years - more like decades. Our realtor actually apologized for the state of the house and property, but Lynn and I looked at each other and said "This is perfect!". We closed just weeks after our son's graduation, and thus we began our new life adventure.
                <span class="btn btn-outline-dark" data-toggle="collapse" href="#moreInfo">More</span>
            </div>
            <div class="w-50"><img src="./assets/aboutus/LynnTilling.jpg" class="img-fluid"></div>
                
                <div class="collapse w-100" id="moreInfo" style="text-align:justify;">We immediately set to work on improving the house - gutting the kitchen and bathrooms, installing new floors, roofing the barn, painting and more painting, and we built a fence to keep in our future farm animals. You can see more of our never ending project list on our site's Projects page.
                    <br>Fast forward two years, plus the pandemic which kept us home and working on the farm, we now have a small flock of Suffolk/Hampshire cross sheep, three Nubian goats, and a llama, Tina, (she guards our sheep). Please visit our <a routerLink="/animals" routerLinkActive="active">Animals</a> page for more about our animals. We have successfully raised and processed three seasons of lambs, fed solely on grazing in on our pasture, with supplemental hay and alfalfa during the winter months. The lamb meat is sweet, tender, and lean! 
                    <br>We have also been working with the Tualatin Valley Water District on improving the farm for responsible water use and pasture management. With help from a grant, we have installed additional fencing for rotational grazing, installed gutters along the barn to keep the mud to a minimum, and are in the process of building compost bins to recycle the sheep manure for use in our garden. This has been a positive and worthwhile partnership! 
                    We welcome any visitors to our farm, we are proud to show it off! By the way, we have eight apple trees that have the most beautiful blooms in the spring, thus our name!
                </div>
            
        </div>
    </div>
</div>
-->