<div>
    <div class="container">
        <h1 class="text-md-left">Welcome to Apple Blossom Farm! </h1>
        <div class="row">
            <div class="col" style="text-align:justify;">Both Lynn and Peter grew up in Portland, Oregon. We have always dreamed of moving to the country, but once we had the ability to do so, we had become established in our Portland lives. We were establishing our careers, we had links to our community, and most importantly, we did not want to uproot our two boys in the middle of their school years. We decided to hold off on our dream until both boys graduated high school.
                As fate would have it, we were contacted by one of the realtors we had worked with in the past about a farm that was about to come on the market. This happened two months before our youngest son was to graduate from high school. The timing was perfect. We met the realtor at the property only to discover that the property had not been maintianed for many years - more like decades. Our realtor actually apologized for the state of the house and property, but Lynn and I looked at each other and said "This is perfect!". We closed just weeks after our son's graduation, and thus we began our new life adventure.
                <span class="btn btn-outline-dark" data-toggle="collapse" href="#moreInfo">More</span>
                <div class="collapse" id="moreInfo">We immediately set to work on improving the house - gutting the kitchen and bathrooms, installing new floors, roofing the barn, painting and more painting, and we built a fence to keep in our future farm animals. You can see more of our never ending project list on our site's Projects page.
                    <br>Fast forward two years, plus the pandemic which kept us home and working on the farm, we now have a small flock of Suffolk/Hampshire cross sheep, three Nubian goats, and a llama, Tina, (she guards our sheep). Please visit our <a routerLink="/animals" routerLinkActive="active">Animals</a> page for more about our animals. We have successfully raised and processed three seasons of lambs, fed solely on grazing in on our pasture, with supplemental hay and alfalfa during the winter months. The lamb meat is sweet, tender, and lean! 
                    <br>We have also been working with the Tualatin Valley Water District on improving the farm for responsible water use and pasture management. With help from a grant, we have installed additional fencing for rotational grazing, installed gutters along the barn to keep the mud to a minimum, and are in the process of building compost bins to recycle the sheep manure for use in our garden. This has been a positive and worthwhile partnership! 
                    We welcome any visitors to our farm, we are proud to show it off! By the way, we have eight apple trees that have the most beautiful blooms in the spring, thus our name!</div>
            </div>
            <div class="col"><img src="./assets/aboutus/LynnTilling.jpg" class="img-fluid"></div>
        </div>
    </div>
</div>
<!--
<div class="bg-about">
    <div class="container projects-one">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                        <h3><a href="service-details.html">Our Story</a></h3>
                            <h4>Welcome to Apple Blossom Farm!  
                            We are new to farming.  We both have always wanted to move to the country, but had two boys to raise and didn’t want to uproot them until they graduated from high school.  
                            Once that day came along, literally the summer after our youngest graduated, we sold our house in Portland and bought a fixer upper on ten acres in Banks, Oregon!  
                            Immediately we set to work on improving the house, like buying appliances that were literally missing, roofing the barn, and building a fence to keep in our future critters!  
                            We also, with the help of our generous neighbor, tilled a giant garden!

                            Fast forward two years, plus the pandemic which kept us home and working on the farm, we now have three Nubian goats, Elsie, Barb, and Bruce, (they keep the blackberries at bay), 
                            a llama, Tina, (she guards our sheep), and nine Suffolk/Hampshire cross sheep, (they provide us delicious meat).
                            
                            We have successfully raised three sets of lambs by just allowing them to graze on our pasture grass and then supplement with alfalfa and hay from Eastern Oregon during the winter months.  
                            The meat is sweet, tender, and lean!
                            
                            We have been working with the Tualatin Valley Water District on improving the farm for responsible water use.  
                            With help from a grant, we have installed many, many feet of temporary fencing so we can rotational graze our sheep, installed gutters along the barn to keep the mud to a minimum, 
                            and are in the process of building compost bins to recycle the sheep manure for use in our garden. 
                            This has been a positive and worthwhile partnership!
                            
                            We welcome any visitors to our farm, we are proud to show it off!  
                            By the way, we have eight apple trees that have the most beautiful blooms in the spring, thus our name! :)
                            </h4>
            </div>
</div>
-->