<!--<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/background/page-header-bg-1-1.jpg);">
    </div>
    
    <div class="container">
        <h2>About Us</h2>
    </div>
</section>-->

<div class="bg-about">
    <div class="container projects-one">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                        <h3><a href="service-details.html">Our Story</a></h3>
                            <h4>Welcome to Apple Blossom Farm!  
                            We are new to farming.  We both have always wanted to move to the country, but had two boys to raise and didn’t want to uproot them until they graduated from high school.  
                            Once that day came along, literally the summer after our youngest graduated, we sold our house in Portland and bought a fixer upper on ten acres in Banks, Oregon!  
                            Immediately we set to work on improving the house, like buying appliances that were literally missing, roofing the barn, and building a fence to keep in our future critters!  
                            We also, with the help of our generous neighbor, tilled a giant garden!

                            Fast forward two years, plus the pandemic which kept us home and working on the farm, we now have three Nubian goats, Elsie, Barb, and Bruce, (they keep the blackberries at bay), 
                            a llama, Tina, (she guards our sheep), and nine Suffolk/Hampshire cross sheep, (they provide us delicious meat).
                            
                            We have successfully raised three sets of lambs by just allowing them to graze on our pasture grass and then supplement with alfalfa and hay from Eastern Oregon during the winter months.  
                            The meat is sweet, tender, and lean!
                            
                            We have been working with the Tualatin Valley Water District on improving the farm for responsible water use.  
                            With help from a grant, we have installed many, many feet of temporary fencing so we can rotational graze our sheep, installed gutters along the barn to keep the mud to a minimum, 
                            and are in the process of building compost bins to recycle the sheep manure for use in our garden. 
                            This has been a positive and worthwhile partnership!
                            
                            We welcome any visitors to our farm, we are proud to show it off!  
                            By the way, we have eight apple trees that have the most beautiful blooms in the spring, thus our name! :)
                            </h4>
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
                        <h3><a href="service-details.html">Quality Standards</a></h3>
                        <h4>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
                        <h3><a href="service-details.html">Care for our Animals</a></h3>
                        <h4>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
            </div><!-- /.col-md-12 col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.service-one -->
<br>
<br>

<br>


<div class="team-one">
    <img src="assets/images/icons/team-bg-1-1.png" alt="" class="team-one__bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-5">
                <div class="team-one__content">
                    <div class="block-title">
                        <div class="block-title__image"></div><!-- /.block-title__image -->
                        <p>meet the team</p>
                        <h3>Expert Farmers</h3>
                    </div><!-- /.block-title -->
                    <div class="team-one__summery">
                        <p>Aenean eu leo quam. Pellentesque ornare sem
                            lacinia quam venenatis vestibulum. Aenean lacinia bibendum.</p>
                    </div><!-- /.team-one__summery -->

                    <!-- If we need navigation buttons -->
                    <div class="team-one__nav">
                        <div class="swiper-button-prev" id="team-one__swiper-button-next"><i class="agrikon-icon-left-arrow"></i>
                        </div>
                        <div class="swiper-button-next" id="team-one__swiper-button-prev"><i class="agrikon-icon-right-arrow"></i></div>
                    </div><!-- /.team-one__nav -->

                </div><!-- /.team-one__content -->
            </div><!-- /.col-md-12 col-lg-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div>
