<!-- <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
    <img src="assets/animals/sheep1.jpg" alt="Learn about our Sheep">
    <h4 style="color:aliceblue">Learn about our Sheep</h4>
</a> -->


<div class="container">
    <div class="projects-one" style="background-image: url(assets/background/main-slider-1-1.jpg)">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/animals/sheep1.jpg" style="z-index:0;" alt="">
                    <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
                        <h3 style="z-index:1; color: aliceblue;">Our Sheep</h3>
                    </a><!-- /.projects-one__button -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/animals/Elsie.jpg" alt="">
                    <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
                        <h3 style="z-index:1; color: aliceblue;">Meet the Goats</h3>
                    </a><!-- /.projects-one__button -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/animals/TinaAndTractor.jpg" alt="">
                    <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
                        <h3 style="z-index:1; color: aliceblue;">Tina the Protector</h3>
                    </a><!-- /.projects-one__button -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-4.jpg" alt="">
                    <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
                        <h3 style="z-index:1; color: aliceblue;">Future Animals</h3>
                    </a><!-- /.projects-one__button -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-5.jpg" alt="">
                    <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
                        <h3 style="z-index:1; color: aliceblue;">Future Animals</h3>
                    </a><!-- /.projects-one__button -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-6.jpg" alt="">
                    <a routerLink="/our-farm" routerLinkActive="active" class="nav-link">
                        <h3 style="z-index:1; color: aliceblue;">Future Animals</h3>
                    </a><!-- /.projects-one__button -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
    </div>
</div><!-- /.projects-one -->