<div class="container">
<div  class="projects-one" style="background-image: url(assets/background/main-slider-1-1.jpg)"> 
    
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/animals/sheep1.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Sheep</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/animals/Elsie.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Goats</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/animals/TinaAndTractor.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Llama</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-4.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Chickens</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-5.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Horses</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="projects-one__single">
                    <img src="assets/projects/project-1-6.jpg" alt="">
                    <div class="projects-one__content">
                        <h3>Pets</h3>
                        <a href="project-details.html" class="projects-one__button"><i class="agrikon-icon-right-arrow"></i></a><!-- /.projects-one__button -->
                    </div><!-- /.projects-one__content -->
                </div><!-- /.projects-one__single -->
            </div><!-- /.col-sm-12 -->
        </div><!-- /.row -->
    </div>    
</div><!-- /.projects-one -->