/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
.projects-one {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  @media (min-width: 1200px) {
    .projects-one {
      padding-top: 120px;
      padding-bottom: 90px;
    }
  }
  
  .projects-one__single {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .projects-one__single > img {
    width: 100%;
  }
  
  .projects-one__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--thm-primary-rgb), 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
  }
  
  .projects-one__content h3 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  
  @media (min-width: 768px) {
    .projects-one__content h3 {
      font-size: 25px;
    }
  }
  
  @media (min-width: 992px) {
    .projects-one__content h3 {
      max-width: 160px;
    }
  }
  
  @media (min-width: 1200px) {
    .projects-one__content h3 {
      margin-left: 30px;
      font-size: 30px;
      margin-bottom: 23px;
    }
  }
  
  .projects-one__single:hover .projects-one__content {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  