/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
.projects-one {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  @media (min-width: 1200px) {
    .projects-one {
      padding-top: 120px;
      padding-bottom: 90px;
    }
  }
  
  .projects-one__single {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .projects-one__single > img {
    width: 100%;
  }
  
  .projects-one__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--thm-primary-rgb), 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    opacity: 0;
  }
  
  .projects-one__content h3 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  
  @media (min-width: 768px) {
    .projects-one__content h3 {
      font-size: 25px;
    }
  }
  
  @media (min-width: 992px) {
    .projects-one__content h3 {
      max-width: 160px;
    }
  }
  
  @media (min-width: 1200px) {
    .projects-one__content h3 {
      margin-left: 30px;
      font-size: 30px;
      margin-bottom: 23px;
    }
  }
  
  .projects-one__single:hover .projects-one__content {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .projects-one__button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 17px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .projects-one__button:hover {
    background-color: #fff;
    color: var(--thm-black);
  }
  
  @media (min-width: 768px) {
    .projects-one__button {
      width: 60px;
      height: 60px;
      font-size: 20px;
    }
  }
  
  .project-page {
    padding-top: 0;
  }
  
  .project-page hr {
    margin: 0;
    padding: 0;
    border-color: #e9e7e2;
    border-width: 1px;
    margin-bottom: 80px;
  }
  
  @media (min-width: 1200px) {
    .project-page hr {
      margin-bottom: 120px;
    }
  }
  
  #projects-one__swiper-pagination {
    margin-top: 0px;
    position: relative;
    bottom: auto;
    left: auto;
  }
  
  #projects-one__swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #1f4e3d;
    opacity: 0.3;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  @media (min-width: 1200px) {
    #projects-one__swiper-pagination .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
    }
  }
  
  #projects-one__swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  @media (min-width: 1440px) {
    .project-one__home-one {
      padding-top: 0;
      padding-bottom: 120px;
    }
  }
  
  @media (min-width: 1200px) {
    .project-one__home-one .swiper-container {
      overflow: visible;
    }
  }
  
  @media (min-width: 1200px) {
    .project-one__home-one .projects-one__content {
      top: auto;
      bottom: 25px;
      left: 30px;
      right: auto;
      width: 360px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 45px 40px;
      border-radius: 5px;
      background-color: var(--thm-primary);
    }
  }
  
  @media (min-width: 1200px) {
    .project-one__home-one .projects-one__content h3 {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .project-one__home-one .projects-one__button {
      position: relative;
      top: auto;
      right: auto;
    }
  }
  
  .project-details {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media (min-width: 1200px) {
    .project-details {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
  
  .project-details h2 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 1200px) {
    .project-details h2 {
      font-size: 46px;
      margin-bottom: 30px;
    }
  }
  
  .project-details h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 1200px) {
    .project-details h3 {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }
  
  .project-details p {
    margin: 0;
  }
  
  .project-details img {
    border-radius: 5px;
  }
  
  @media (min-width: 1200px) {
    .project-details__images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  }
  
  .project-details__images img {
    margin-top: 30px;
  }
  
  @media (min-width: 992px) {
    .project-details__images img:nth-child(1) {
      display: none;
    }
  }
  
  @media (min-width: 1200px) {
    .project-details__images img:nth-child(1) {
      display: inline-block;
    }
  }
  
  .project-details__check-list {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  @media (min-width: 1200px) {
    .project-details__check-list {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
  
  .project-details__check-list li {
    position: relative;
    padding-left: 25px;
    color: var(--thm-black);
    font-weight: 500;
    line-height: 1.4;
  }
  
  .project-details__check-list li + li {
    margin-top: 10px;
  }
  
  @media (min-width: 1200px) {
    .project-details__check-list li {
      font-size: 18px;
      padding-left: 30px;
    }
  }
  
  .project-details__check-list li > i {
    color: var(--thm-primary);
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .project-details__list {
    background-color: #f6f5f2;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @media (min-width: 992px) {
    .project-details__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }
  
  @media (min-width: 1200px) {
    .project-details__list {
      margin-left: 50px;
      margin-right: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-top: -60px;
      position: relative;
      z-index: 20;
      padding-left: 80px;
      padding-right: 80px;
      margin-bottom: 70px;
    }
  }
  
  .project-details__list li {
    font-weight: 500;
    font-size: 16px;
    color: #6e7673;
  }
  
  @media (min-width: 992px) {
    .project-details__list li {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
    }
  }
  
  @media (min-width: 1200px) {
    .project-details__list li {
      font-size: 18px;
    }
  }
  
  .project-details__list li + li {
    margin-top: 10px;
  }
  
  @media (min-width: 992px) {
    .project-details__list li + li {
      margin-top: 0;
    }
  }
  
  .project-details__list li span {
    display: block;
    color: var(--thm-black);
    line-height: 1;
    font-weight: bold;
  }
  
  @media (min-width: 1200px) {
    .project-details__list li span {
      margin-bottom: 5px;
    }
  }
  
  .project-details .bottom-content {
    margin-top: 30px;
  }
  
  @media (min-width: 1200px) {
    .project-details .bottom-content {
      margin-top: 70px;
    }
  }
  