<div class="container">
    <div class="projects-one">
        <p style="text-align:justify ;">Like the house, the pasture and wooded area had not been kept up for many years.
            Acres of blackberries covered the back area, and the pastures were weed ridden with Thistle and Queen Anne's lace. But fencing
            became our top priority. So that's what we did first.
        </p>
        <div class="wrapingimageleft">
            <figure class="figure">
            <img src="/assets/projects/Farm/Fence/Fence2.jpg" height="250" width="250" alt="image">
            <figcaption class="figure-caption text-right">Our new Fence.</figcaption>
        </figure>
        </div>
        <h4>Fencing</h4>
        <p style="text-align:justify ;">
            It's hard to raise animals when you don't have a perimeter fence to keep them in - and predators out. It was
            the middle of winter by the time we got to fencing, and not the ideal time to be putting up a fence. 
            But we planned to get our first flock of sheep, some goats and a horse that
            spring, so despite the rain and muddy terrain, we set out to get our fence built.
        </p>
        <div class="wrapingimageright">
            <img src="/assets/projects/Farm/Fence/FenceGate.jpg" height="250" width="250" alt="image">
            <figcaption class="figure-caption text-right">One of many gates.</figcaption>
        </div>
        <p style="text-align:justify ;">
            Our first step was the design. You wouldn't think that an essentially rectangular fence would take much to
            figure out, but we had property lines to confirm, large trees to avoid, gate placement, and integration with our barn. 
            Plus we wanting it to be asthetically pleasing.<br>
            Putting in fence posts is just hard work, and stretching the fencing takes some practice. We couldn't have gotten our
            fence put in without the help of our fence heros, Arturo and his sons, who showed us how it is done right. So we learned
            from him, and have since installed additional cross fencing and repaired multiple stretches from tree damage.<br>
            There is not really a lot more to say about fences. But did I mention it is really hard work?
        </p> 
    </div>
</div>