<div class="container">
    <div class="row" style="background-color:white ;"></div>
    <div class="projects-one" style="background-color: rgb(203, 225, 203); margin-top: 30px;">
        <div class="wrapingimageright">
            <img src="/assets/projects/Farm/old_barn.jpg" height="400" width="400" alt="image">
        </div>
        <p style="text-align:justify ;">Running a small farm takes constant upkeep - everything from feeding the
            animals, cleaning stalls and maintaining our pastures.
            But we tend to go beyond general upkeep, as our farm was in need of many major improvements!<br>
            Over the years, thousands of feet of new fencing has been installed to keep our animals in, as well cross
            fencing to support our rotational grazing program. Our barn got a new roof and new stain (read below about this traditional 
            stain from Sweden). The barn is now providing a warm and dry environment for lambing. More recently, a new barn 
            addition will add 750 square feet of lambing space and storage. The images and text below depict our journey of converting 
            our once neglected farm into a productive sheep and produce operation. Plus, our farm is now downright beautiful!
        </p>
        
        <p style="text-align:justify ;">
            During the pandemic, we decided to host our Thanksgiving and Christmas dinners in the barn.
        </p>
        <h4>Fencing</h4>
        <p style="text-align:justify ;">
            It's hard to raise animals when you don't have a perimeter fence to keep them in - and predators out. It was
            the middle of winter and not the ideal
            time to be putting up a fence. But we planned to get our first flock of sheep, some goats and a horse that
            spring, so despite the rain and
            muddy terrain, we set out to get our fence built.
        </p>
        <div class="wrapingimageleft">
            <img src="/assets/projects/Farm/old_barn_front.jpg" height="400" width="400" alt="image">
        </div>
        <p style="text-align:justify ;">
            Our first step was the design. You wouldn't think that an essentially rectangular fence would take much to
            figure out, but we had property lines to discover, large trees to avoid, gate placement, and integration with our barn. 
            Plus we wanting it to be asthetically pleasing. Well, Lynn wanted that!
        </p>
    </div>
</div>
