<div class="container">
  <h1 class="text-md-left">Welcome to Apple Blossom Farm</h1>
  <div class="row">
    <div class="col-md-4 ">
      <img src="assets/logos/AppleBlossom_FINAL.jpg" alt="">
    </div>
    <div class="col-md-8">
      <div id="car" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#car" data-slide-to="0" class="active"></li>
          <li data-target="#car" data-slide-to="1" class="active"></li>
          <li data-target="#car" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="w-100 d-block" src="./assets/background/appleblossomclose1200x600.jpg">
          </div>
          <div class="carousel-item">
            <img class="w-100 d-block" src="./assets/background/BarnFront1200x600.jpg">
          </div>
          <div class="carousel-item">
            <img class="w-100 d-block" src="./assets/background/twolambs1200x600.jpg">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#car" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#car" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <hr>
    <div class="row mt-2">
      <div class="col-md-4 ">
        <div class="card">
          <div class="card-header"><h4>Meet the Farmers</h4></div>
          <div class="w-100 d-block">
            <img class="card-title" src="./assets/cards/LynnAndLambs.jpg">
            <div class="card-text">Peter and Lynn have had farming in their blood...</div>
          </div>
          <div class="card-footer"><a href="#" class="btn btn-success">Read More</a></div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card">
          <div class="card-header"><h4>Our Animals</h4></div>
          <div class="w-100 d-block">
            <img class="card-title" src="./assets/cards/Sheep.jpg">
            <div class="card-text">We have the best animals ever anywhere and all that</div>
          </div>
          <div class="card-footer"><a href="#" class="btn btn-success">Read More</a></div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card">
          <div class="card-header"><h4>Seasons on the Farm</h4></div>
          <div class="w-100 d-block">
            <img class="card-title" src="./assets/cards/FallFoliage.jpg">
            <div class="card-text">Our photo gallery of a year on the farm</div>
          </div>
          <div class="card-footer"><a href="#" class="btn btn-success">Click Me</a></div>
        </div>
      </div>
    </div>
  </div>