<!--<div class="container-fluid container-main" style=" background-image: url('assets/background/BarnFrontWithLogo.png');
  height:750px; margin-top: 60px; background-size: cover; z-index:1;">
  <div class="d-flex justify-content-end align-items-top h-100">
    <div class="text-bg text-center">
      <h1 class="mb-3 text-white" style="padding-right:150px; padding-top: 40px; font-size: 5em;">Apple Blossom Farm</h1>
      <h4 class="mb-3 text-white" style="text-align: center; font-size: 2em;">Forest Grove, Oregon</h4>
      <a class="btn btn-outline-light btn-lg" href="#!" role="button">Explore our Farm</a
      >
    </div>
  </div>-->
   <div class="bg-image">
    <!--<div class="three_box">
      <div class="container box-image">
        <div class="row">
          <div class="col-md-4">
            <div class="box_text box">
              <figure><img src="assets/images/twolambs.jpg" alt="AB Farm"></figure>
              <h4 class="card-title text">Lamb</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box_text box">
              <figure><img src="assets/images/GardenFromRoof.jpg" alt="AB Farm"></figure>
              <h4 class="card-title text">Produce</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box_text box">
              <figure><img src="assets/images/BarnFromHouse.jpg" alt="AB Farm"></figure>
              <h4 class="card-title text">Farm Stay</h4>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>


<!--</div>-->
