<div
class="container-fluid container-main"
style="
  background-image: url('assets/background/BarnFront.jpg');
  height: 850px; max-width: 100%; padding-top: 150px">

  <div class="d-flex justify-content-end align-items-top h-100">
    <div class="text-bg text-center">
      <h1 class="mb-3 text-white" style="padding-right:150px; padding-top: 40px; font-size: 5em;">Apple Blossom Farm</h1>
      <h4 class="mb-3 text-white" style="text-align: center; font-size: 2em;">Forest Grove, Oregon</h4>
      <a class="btn btn-outline-light btn-lg" href="#!" role="button"
      >Explore our Farm</a
      >
    </div>
  </div>

  <div class="three_box">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="box_text">
            <figure><img src="assets/images/img1.jpg" alt="website template image"></figure>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box_text">
            <figure><img src="assets/images/img2.jpg" alt="website template image"></figure>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box_text">
            <figure><img src="assets/images/img3.jpg" alt="website template image"></figure>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
